[submodule "udemy-ML-MathFoundation"]
	path = udemy-ML-MathFoundation
	url = git@github.com:GouthamShiv/udemy-ML-MathFoundation.git
[submodule "salary-prediction-webapp"]
	path = salary-prediction-webapp
	url = https://github.com/GouthamShiv/ML-salaryPrediction.git
